.home h2{
    text-align: center;
    margin-bottom: 15px;
}

.home .cartao-intro h3{
    text-align: center;
    font-family: "Kranky", serif;
    margin-bottom: 10px;
}

.home .cartao-intro{
    width: 20%;
    background-color: #BBCAD5;
    padding: 5px;
    border: 4px solid #000;
    font-size: 20px;
}

.home .cartoes{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.home main .box{
    display: flex;
    flex-direction: column;
}

.home .intro-botao{
    width: 20%;
    margin: 0 auto;
    height: 40px;
    background-color: #0C0C31;
    border: 4px solid #000;
    color: #fff;

    transition: 1s all linear;
}

.home .intro-botao:hover{
    border-radius: 5px;
    background-color: #222272;
}