.login main .box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h2{
    text-align: center;
}

.login .form-card{
    width: 35%;
    min-height: 35dvh;
    padding: 20px;
    background-color: rgb(183, 211, 235);
}

.login h2{
    text-align: center;
}

.login main .input-field{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.login main button{
    margin: 0 auto;
    display: block;

    height: 30px;
    width: 25%;
}

